#header {
    text-align: center;
    background: blue;
    font-family: monospace
    font-size: 25px;
}
span {
    color: red;
}
img {
    width: 100px;
    height: 100px;
}
table, td {
    border: 1px #70b8ff solid;
}
body {
    background-image: url(https://c1.staticflickr.com/6/5052/5518992555_e7119f4017_b.jpg)
}
p {
    color: white
}
